{% extends "base.html" %} {% block content%}

<div class="row">
  <div class="col s12 center m6 l3">
    <div class="card z-depth-0">
     <video width="" height="" controls></video>
    </div>
  </div>
  <div class="col s12 center m6 l3">
    <div class="card z-depth-0">
     <video width="" height="" controls></video>
    </div>
  </div>
  <div class="col s12 center m6 l3">
    <div class="card z-depth-0" >
     <video width="" height="" controls></video>
    </div>
  </div>
  <div class="col s12 center m6 l3">
    <div class="card z-depth-0">
     <video width="" height="" controls></video>
    </div>
  </div>
  
</div>

{% endblock %}
